@{
    ViewBag.Title = "FormEditare";
}

@model Proiect_ASP_final.Models.Comanda

<h2>Editeaza comanda</h2>

<form method="post" action="/Comanda/Editare/@Model.idAdresa">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <div class="form-group">
        <label>ID Comanda: @Model.idComanda</label>
    </div>
    @Html.Partial("InputComanda", @Model)
    <br />
    <button class="btn btn-outline-success" type="submit">Salvează modificarile</button>
</form>

