
@{
    ViewBag.Title = "FormEditare";
}

@model Proiect_ASP_final.Models.Categorie

<h2>Editeaza categoria</h2>

<form method="post" action="/Categorie/Editare/@Model.idCategorie">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <div class="form-group">
        <label>ID Categorie: @Model.idCategorie</label>
    </div>
    @Html.Partial("InputCategorii", @Model)
    <br />
    <button class="btn btn-success" type="submit">Salvează modificarile</button>
</form>

