
@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.mesaj</h2>
<h1>Lista completă de categorii:</h1>
<br />

@foreach (var categ in ViewBag.categorii)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            @categ.titlu
        </div>
        <div class="panel-body">
            <i class="glyphicon glyphicon-user"></i> ID Categorie: @categ.idCategorie
            <br />
        </div>
        <div class="panel panel-footer">
            <a class="btn btn-outline-primary" href="/Categorie/Afisare/@categ.idCategorie">Afișează categoria</a>
            <br />
        </div>
    </div>
}

@if (User.IsInRole("Admin") == true)
{
    <br />
    <a class="btn btn-outline-success" href="/Categorie/Adaugare" role="button">Adaugă o noua categorie</a>
    <a class="btn btn-outline-info" href="/Produs/Index" role="button">Înapoi la lista de produse</a>
}

