@model Proiect_ASP_final.Models.ProdusRating

<div>
    <form method="post" action="/ProdusRating/EditeazaRating/@Model.prodRating">
        @Html.HttpMethodOverride(HttpVerbs.Put)

        <p class="text-danger">@ViewBag.eroare</p>

        <label>Notă</label>
        <input name="rating" type="number" value="@Model.rating" />
        <br />
        <label>Descriere</label>
        <input name="descriereRating" type="text" value="@Model.descriereRating" />
        <br />
        <button class="btn" type="submit">Salvează review</button>
    </form>
</div>

