@model Proiect_ASP_final.Models.Comanda

<div class="form-group">

    <label>Selectati adresa</label>
    @Html.DropDownListFor(m => m.idAdresa, new SelectList(Model.Adrese, "Value", "Text"),
    "Selectati adresa de livrare", new { @class = "form-control" })
    <br />
</div>